
<% obj.each do |testimonial| %>
  <div class="row">
    <div class="col-xs-8 col-xs-offset-2">
      <div class="well well-lg">
        <div class="testimonial-title">
          <%= link_to testimonial.title, testimonial_path(testimonial) %>
        </div>
        <div class="testimonial-body">
        <%= truncate(testimonial.description, length: 100) %>
        <div class="username">
        <small>~<%= if testimonial.user then testimonial.user.username  else "Patient" end %>,
                <%= time_ago_in_words(testimonial.created_at)%> ago</small>
          </div>
        </div>
        <div class="testimonial-actions">
        <%= link_to "Edit", edit_testimonial_path(testimonial), class: "btn btn-xs btn-primary" %>
        <%= link_to "Delete", testimonial_path(testimonial), method: :delete,
        data: { confirm: "Are you sure you want to delete the testimonial?"},
        class: "btn btn-xs btn-danger" %>
        </div>
      </div>
    </div>
  </div>
<% end %>
